.hugest-container {
  display: block;
}
.hugest-container .biggest-container {
  display: inline-block;
}
.hugest-container .biggest-container .medium-container {
  display: inline;
}
.hugest-container .biggest-container .medium-container .smallest-container {
  display: flex;
}
