.hugest-container {
  display: block;
}
.hugest-container .biggest-container {
  display: inline-block;
}
.hugest-container .biggest-container #cool-new-name {
  display: inline;
}
.hugest-container .biggest-container #cool-new-name .smallest-container {
  display: flex;
}
